.header{
    grid-area: h;
    background-color: rgb(83, 83, 233);
    height: 8vh;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header img{
    width: 40px;
  }
  .loginBlock a,
  .loginBlock{
    color: #fff;
  }